#sub_tab_menu{
    width: 100%;
    height: 100%;
}

#sub_tab_menu_bar{
    font-size: 24px;
    font-family: 'Gothic A1', sans-serif;
}

#sub_tab_menu_bar ul{
    text-align: center;
}

#sub_tab_menu_bar ul li{
    display: inline-block;
    width: 50%;
    padding: 15px 0;
}

#sub_tab_menu_bar ul .focus{
    background-color: #fff;
}

#sub_tab_menu_bar ul .unfocus{
    color: #203864;
}

#sub_tab_menu_bar ul li p{
    display: inline-block;
}

.sub_tab_background{
    width: 100%;
    height: calc(100% - 60px);
    background-color: #fff;
}