
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root, #wrapper{
    width: 100%;
    height: 100%;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    outline: none;
}

h1{
    font-family: 'Noto Sans KR thin', sans-serif;
    font-size: 62px;
    font-weight: 100;
}

h2{
    font-family: 'Noto Sans KR thin', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.center_center{
    text-align: center;
}
