#input_box{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

.relative{
    position: relative;
}

#input_box input{
    display: block;
    margin: 0 auto 45px;
    border: none;
    background: none;
    font-size: 24px;
    padding: 5px 10px;
    width: 100%;
    outline: none;
}

#input_box label{
    padding: 5px 10px;
    font-size: 25px;
    font-family: 'Nanum gothic', sans-serif;
    position: absolute;
    left: 0px;
    color: #203864;
    font-weight: 400;
    transition: 0.3s ease;
    z-index: -1;
}

#input_box label[for="input_ip"]{
    top: -7px;
}

#input_box label[for="input_port"]{
    top: 78px;
}

#input_box label[for="input_token"]{
    top: 163px;
}

#input_box #input_ip:focus ~ label[for="input_ip"],
#input_box #input_ip:valid ~ label[for="input_ip"]{
    top: -30px;
    left: -8px;
    font-size: 18px;
    font-weight: 700;
    color: #5754E1;
} 

#input_box #input_port:focus ~ label[for="input_port"],
#input_box #input_port:valid ~ label[for="input_port"]{
    top: 55px;
    left: -8px;
    font-size: 18px;
    font-weight: 700;
    color: #5754E1;
}

#input_box #input_token:focus ~ label[for="input_token"],
#input_box #input_token:valid ~ label[for="input_token"]{
    top: 140px;
    left: -8px;
    font-size: 18px;
    font-weight: 700;
    color: #5754E1;
} 

.underline{
    width: 100%;
    height: 2px;
    position: relative;
    background: #12203A;
    top: -45px;
    transition: 0.3s ease;
}

#input_box #input_ip:focus ~ #ip_underline,
#input_box #input_ip:valid ~ #ip_underline,
#input_box #input_port:focus ~ #port_underline,
#input_box #input_port:valid ~ #port_underline,
#input_box #input_token:focus ~ #token_underline,
#input_box #input_token:valid ~ #token_underline{
    background: linear-gradient(90deg, rgba(87,84,225,1) 0%, rgba(255,47,255,1) 100%);
}

#connect_btn{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background: #5754E1;
    letter-spacing: 0.5px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
    transition: .5s;
}

#connect_btn:hover{
    cursor: pointer;
    box-shadow: 0 7px 9px 0 rgba(0,0,0,0.2);
    transform: translate(-50%,-54%);
}