#main_wrapper_top{
    position: relative;
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_wrapper_bottom{
    position: relative;
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F3241;
    box-shadow: inset 0 4px 5px 0 rgba(0,0,0,0.5);
}

#main_wrapper_bottom div a{
    width: 215px;
    height: 65px;
    border-radius: 50px;
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    border: 3px solid white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.6);
    text-align: center;
    line-height: 56px;
    transition: 0.3s ease-in-out;
}

#main_wrapper_bottom div #host_btn{
    margin-right: 60px;
}

#main_wrapper_bottom div #host_btn:hover,
#main_wrapper_bottom div #worker_btn:hover{
    background-color: #fff;
    color: #000;
    transform: translateY(-3px);
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.6);
}

#main_wrapper_bottom div #worker_btn{
    margin-left: 60px;
}

.react-reveal{
    display: flex; 
    align-items: center;
    justify-content: center;
}