.gray{
    color: #AFABAB;
}

.fa-house-user{
    position: relative;
    transform: scaleX(0.9);
    top: 3px;
}

.fa-desktop{
    position: relative;
    top: 3px;
    transform: scaleX(0.9) scale(0.9);
}

.fa-clipboard-list{
    position: relative;
    top: 2px;
    transform: scaleX(1.05);
    padding-right: 2px;
}

.fa-cog{
    position: relative;
    top: 2px;
}

#tab_menu{
    width: 100%;
    height: calc(100% - 65px);
}

#tab_menu_bar{
    background: #2F3241;
    color: #fff;
}

#tab_menu_bar ul{
    padding-left: 30px;
    padding-top: 8px;
}

#tab_menu_bar ul,
#tab_menu_bar ul li{
    display: flex;
}

#tab_menu_bar ul li{
    margin-right: 25px;
    position: relative;
}

#tab_menu_bar ul li:hover{
    cursor: pointer;
}

#tab_menu_bar ul .focus::before{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 3px;
    background-color: #008EFF;
}

#tab_menu_bar ul .unfocus:hover::before{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 3px;
    background-color: #FF008C;
}

#tab_menu_bar ul li a{
    display: flex;
    font-size: 15px;
    color: #fff;
}

#tab_menu_bar ul .unfocus:hover .gray{
    color: #FF008C;
}

#tab_menu_bar ul li i{
    font-size: 22px;
    margin: 4px;
}

#tab_menu_bar ul li p{
    font-family: 'Quicksand', sans-serif;
    line-height: 36px;
    height: 38px;
    font-size: 13px;
}

.tab{
    width: 100%;
    height: calc(100% - 46px);
    background-color: #EEF1F6;
}

.tab_center{
    text-align: center;
}